// Allows for gradient border.
.wrapper {
  background: var(--player-reduced-border-bg);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%; // Centers.
  min-height: var(--playerSmall);

  .player {
    flex-grow: 1;
    margin-top: 4px;
    background: var(--player-reduced-bg);

    .title-container, .controls {
      z-index: 20;
    }
  }
}

@media screen and (max-width: 600px) {

  .player {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-container {
      margin: 24px;
      flex-basis: 20%;
      max-width: 85vw;
    }

    .controls {
      gap: 6vw;
      margin-bottom: 24px;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {

  .player {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {

  .title-container {
    margin: 24px 48px 24px 32px;
    max-width: 50vw;
  }

  .controls {
    gap: 2vw;
    margin-right: 32px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {

  .title-container {
    margin: 24px 64px 24px 48px;
    max-width: 50vw;
  }

  .controls {
    gap: 3vw;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1100px) {

  .player {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .title-container {
      max-width: 60vw;
      margin: 24px 64px 24px 48px;
    }

    .controls {
      gap: 2vw;
    }
  }
}
