.container {
  height: 100vh;
  background: var(--page-bg);

  .content {
    width: 100%;
    flex-grow: 1; // Used to force-fill the window with background when the content is not high enough.
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
  }
}
