.player {
  position: relative; // Displays player above spectre.
  z-index: 20;
  height: var(--footerHeight);
  background: var(--player-expanded-bg);
  border-radius: 16px;
  margin: 16px auto;
}

@media screen and (max-width: 600px) {

  .player {
    width: 90vw;
    gap: 16px;
  }

  .controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 4vw;

    > * {
      display: flex;
      justify-content: center;
    }

    :first-child {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    :nth-child(2), :nth-child(3), :nth-child(4) {
      grid-column: auto;
      grid-row: 2 / 3;
    }

    :last-child {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  .stamp {
    padding: 0 16px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {

  .player {
    width: 90vw;
  }

  .controls {
    gap: min(10vw, 32px);
    margin: 16px 0;
  }

  .stamp {
    padding: 0 16px;
  }
}

@media screen and (min-width: 1100px) {

  .player {
    width: 70vw;
  }

  .controls {
    gap: 1.5vw;
    margin: 16px 0;

    :first-child {
      margin-right: 32px;
    }

    :last-child {
      margin-left: 32px;
    }
  }

  .stamp {
    padding: 8px;
  }
}
