html[data-theme="light-dusk"] {
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px, rgba(0, 0, 0, 0.12) 0px 1px 18px;

  --default-text-color: #000000;

  --scrollbar-color: #8c8c8c;
  --scrollbar-bg: #d2d2d2;

  --page-bg: linear-gradient(145deg, rgba(242,225,239,1) 0%, rgba(229,130,230,1) 28%, rgba(214,57,171,1) 46%, rgba(235,53,99,1) 66%, rgba(246,138,138,1) 90%, rgba(253,187,45,1) 100%);

  --menu-bg: linear-gradient(90deg, rgba(255,240,242,1) 0%, rgba(255,165,214,1) 54%);
  --menu-hover: rgba(232,232,232,0.4);
  --menu-hr: #a7a7a7;

  --home-btn-border: #febcf7;
  --home-btn-bg: linear-gradient(45deg, rgba(255,182,8,1) 0%, rgba(255,8,141,1) 45%, rgba(255,165,186,1) 100%);

  --card-bg: linear-gradient(270deg, rgba(250,254,255,1) 0%, rgba(255,228,163,1) 17%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 100%);
  --card-bg-active: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(250,223,196,1) 9%, rgba(255,159,63,1) 21%, rgba(255,166,78,1) 28%, rgba(255,255,255,1) 88%);
  --card-border: transparent;
  --card-subtitle: #797979;

  --loader-bg: #12E2DC;

  --playing-anim-bg: linear-gradient(0deg, rgba(254,219,255,1) 0%, rgba(250,107,150,1) 100%);

  --player-bg: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(172,29,146,1) 100%);
  --player-text-color: #ffffff;

  --player-btn-bg: rgba(255,255,255,0.18);
  --player-btn-bg-active: rgba(255, 255, 255, 0.45);
}
